<h1> Sampling </h1>

<form action="/random/results">
<label for="users_min"> Minimum  </label>
 <div>
    <input type="text" name="users_min" id="users_min" placeholder="E.g. 1.5">
  </div>

  <label for="users_max"> Maximum  </label>
 <div>
    <input type="text" name="users_max" id="users_max" placeholder="E.g. 4.5">
  </div>

<button>Pick random number </button>
